@charset "UTF-8";

/*
Azul: #1129F5
Roxo: #8D11F5
Azul: #4312F5
Azul: #1171F5
Roxo: #D500F5
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}

main {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    width: 250px;
    height: 515px;
    top: 50%;
    left: 50%;
    overflow: hidden;
    padding: 10px;

    background-color: white;
    border-radius: 20px;
   transform: translate(-50%, -50%);
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
   transition: width .5s, heigth .5s; 
   transition-timing-function: ease;
}

section#login > div#imagem {
    background: #8D11F5 url(../imagens/pixabay.jpg) no-repeat;
    height: 150px;
    background-size: cover;
    display: block;
}

section#login > div#formulario {
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

div.campo {
    margin-top: 20px;
}

